# langchain
# langchainhub
# langchain-community
# langchain-openai
# langchain-groq
# langchain_mistralai
# langchain-chroma
python-dotenv

fastapi
uvicorn
redis
pymongo

python-jose[cryptography]
passlib
python-multipart
pydantic[email]

requests
bcrypt